<h1>Restaurants#show</h1>
<h2><%=@restaurant.name%></h2>
<h3><%=@restaurant.category%></h3>
<p><%=@restaurant.address%></p>
<p><%=@restaurant.phone_number%></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.rating %>/5 <%= review.content %></li>
  <% end %>
</ul>

<%= link_to "index", restaurants_path %>
<%= link_to "ajouter un avis", new_restaurant_review_path(@restaurant.id) %>
